.joke {
  padding: 32px;
  background-color: gainsboro;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  margin: 32px;
}

.content-proj {
  background-color: beige;
  padding: 16px;
  margin-bottom: 16px;
}
